body {
  background-color: #081f3d;
  color: #fffff9;
  /* font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: 'Raleway', sans-serif;
}

.navbar-brand {
  font-size: 2em;
  margin-left: 3.5em;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  margin-bottom: -7.5vh;
}

.nav-link {
  margin-right: 5em;;
}

.card {
  text-align: center;
  background-color: #4c5c71;

  border-radius: 15px;
  border: none;
  width: 25em;
  margin-bottom: 7em;
}

.card-text {
  margin-bottom: 0.6em;
  color: #e6e9ed
}
.card-title {
  margin-bottom: 0.7em;
  color: #fff;
  font-weight: 600;
}

.card-img-top{
  height: 17em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  height: 17em;
}

.card-icon {
  width: 1.5em;
}
.card-button-box {
  display: flex;
  justify-content: space-evenly;
}

.card-tech-box {
  margin-bottom: 1.7em;
}

.made-with {
  margin-bottom: 0;
  color: #e6e9ed
}

.projects-container {
  justify-content: space-evenly;
  margin: auto;
}

.col-xl-2 {
  min-width:20%;
}

#projects-heading {
  text-align: center;
  padding-top: 6em;
}

.skill-icon {
  width: 5em;
}

.center {
  text-align: center;
}

.skills-container {
  margin-bottom: 50px;
}

.section-title {
  margin-bottom: 1.8em;
  font-weight: 900;
}

.btn-primary {
  background-color: #112349;
  border-color: #112349;
}

/* #e43956c4 */



/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/benjamin-voros-phIFdC6lA4E-unsplash.jpg");

  /* background-image: url("benjamin-voros-phIFdC6lA4E-unsplash.jpg"); */
  /* Set a specific height */
  min-height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  padding-top: 42vh;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: white;
}

#hero-name {
  margin-bottom: 2.6em;
  font-size: 3.1em;
  font-family: 'Raleway', sans-serif;
}

#hero-subtitle {
  font-size: 18px
  font-family: 'Raleway', sans-serif;
}

.skills-section {
  padding-top: 7em;
  padding-bottom: 6em;
}

.footer {
  background-color: #081f3d;
  height: 6em;
  text-align: center;
  
}

.contact {
  padding-top: 1em;
}

.skill {
  margin-bottom: 4em;
}

.navbar-white {
  color: white !important;
}

@media screen and (min-width: 1025px) {
  .projects-container {
    width: 85%;
  }
}

#projects-section {
  background-color: #2e6993;
}